
.joinGame_container {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(135deg, rgba(126,86,194,1) 0%, rgba(63,81,181,1) 39%, rgba(63,81,181,1) 100%); 
    min-height: 100%;
}

.logOut_block {
    width: 99%;
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    color: white;
}

.logOut_button {
    cursor: pointer;
}

/*
Image of an anime's boy at the bottom left, comment for now
.joinGame_container:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../../asset/animeboy.png');
  opacity: .8; 
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-filter: drop-shadow(8px 8px 3px rgba(0,0,0,0.5));
  filter: drop-shadow(8px 8px 3px rgba(0,0,0,0.5));
}
*/

.joinGame_block {
    width: 70%;
    margin: 80px 0;
    z-index: 10;
    max-width: 1400px;
}

.joinGame_block_title {
    display: flex;
    justify-content: space-between;
}

.title_game_avalaible {
    color: white;
    margin: 0;
    font-size: 1.8rem;
    text-shadow: var(--titleShadow);
    font-weight: lighter;
}

.text {

}

.gamelist_list {
    padding: 0px; /* reset ul default padding for gamelist list*/
    margin: 40px 0;
}

.runningGame {
    margin: 25px 0 50px 0;
}

.runningGame_title {
    font-size: 1.3rem;
    color: var(--secondary);
    font-weight: bold;
}

.gamelist_pagination_layout {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

@media only screen and (max-width: 550px) {
    .create_block_dark_background {
        display: none;
    }
    .create_form_block {
        width: 100%;
    }
}

@media only screen and (max-width: 375px) {
    .create_block_dark_background {
        display: none;
    }
    .create_form_block {
        width: 100%;
    }
}