/*@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap'); */
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* see Material UI custom theme */
  --primary: #3f51b5;
  --secondary: #7e57c2;
  --lightGreen: #1DB954;
  --lighGrey: #fafafa;
  --darkBlue: #1F2D4E;
  --grey: #eeeeee;
  --darkGrey: #9e9e9e;
  --primaryDark: #334294;
  --yellow: #fff126;
  --tablet: 1024px;
  --mobile-big: 550px;
  --mobile: 375px;
  --titleShadow: 2px 2px 4px rgb(255, 255, 255, 0.3);
  --gradiant: linear-gradient(135deg, rgba(126,86,194,1) 0%, rgba(63,81,181,1) 39%, rgba(63,81,181,1) 100%); 
}

a {
  text-decoration: none;
  color: #212121;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body, #root, #root>div {
  height: 100%;
}

#component {
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  display: block;
  background: var(--darkBlue);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  padding: 5px;
  background: var(--primaryDark); 
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary); 
}

/* button scroll */
::-webkit-scrollbar-button:single-button {
  border-color: var(--darkBlue);
  background-color: var(--darkBlue); 
  display: block;
  height: 5px;
  }

/* disable select text */
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  .noselectDisable {
    -webkit-touch-callout: all; /* iOS Safari */
      -webkit-user-select: all; /* Safari */
       -khtml-user-select: all; /* Konqueror HTML */
         -moz-user-select: all; /* Old versions of Firefox */
          -ms-user-select: all; /* Internet Explorer/Edge */
              user-select: all; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }