/*@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap'); */
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* see Material UI custom theme */
  --primary: #3f51b5;
  --secondary: #7e57c2;
  --lightGreen: #1DB954;
  --lighGrey: #fafafa;
  --darkBlue: #1F2D4E;
  --grey: #eeeeee;
  --darkGrey: #9e9e9e;
  --tablet: 1024px;
  --mobile-big: 550px;
  --mobile: 375px;
  --titleShadow: 2px 2px 4px rgb(255, 255, 255, 0.3);
  --gradiant: linear-gradient(135deg, rgba(126,86,194,1) 0%, rgba(63,81,181,1) 39%, rgba(63,81,181,1) 100%); 
}

a {
  text-decoration: none;
  color: #212121;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body, #root, #root>div {
  height: 100%;
}

#component {
  height: 100%;
}

