
.answerItem {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    font-size: 1.1rem;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    border-radius: 5px;
    width: inherit;
    background-color: var(--primary);
    border: 2px solid transparent;
    padding: 10px;
    margin: 0 0 7px 0;
    cursor: pointer;
    color: white;
}

.answerItem:hover {
    background-color:var(--primaryDark);
}

.answerItem.Disable {
    background-color:var(--primaryDark);
    cursor: auto;
}
