

.runningMusicBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answerListBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 0;
}

