
.loadingScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.LoadingOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 10;
}

.page {
    background-color: var(--darkBlue);
    min-width: 100%;
    min-height: 100%;
}

.loadingErrorMessage, .loadingMessage {
    font-weight: bold;
}

.loadingErrorMessage {
    color: red;
}

.loadingMessage {
    color: white;
}