
.divContentTable{
    height: inherit;
    margin: 0;
}

.scoreTurnTable.Waiting {
    height: calc(100% - 10%) !important;
    
}

.scoreTurnTable::-webkit-scrollbar-button:single-button {
    border-color: var(--darkBlue);
    background-color: var(--darkBlue); 
    display: block;
    height: 5px;
    }

.tableRowScoreRight  {
    background-color: #8bc34a9d;
}

.tableRowScore:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.tableScore{
    color: white !important;
}

.tableScoreHead{
    color: white !important;
    padding: 14px 16px 14px 16px !important;
    font-size: 1.2rem !important;
    font-weight: bold !important;
}

.tableScoreHeader{
    /**/
}

.tableScoreBody{

}

.tableCellScoreCenter{
    /**/
}

.tableCellScore{
    color: white !important;
    font-size: 1.1rem !important;
    border-bottom: 0px solid rgba(224, 224, 224, 1) !important;
    padding: 14px 16px 14px 16px !important;
}