
/** General block **/
.block_gamelist, .block_gamelist_disable {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    animation-name: fadeIn;
    animation-duration: 800ms;
}

/** Default block **/
.block_gamelist {
    background-color:var(--darkBlue);
}

/** Disable block **/
.block_gamelist_disable {
    background-color: rgba(90, 90, 90, 0.75);
}

.block_gamelist_disable .config_detail_data {
    color: grey;
}

.block_gamelist_disable .gamelist_title {
    color: grey;
}

.gamelist_info_block {
    display: flex;
    align-items: baseline;
    margin-bottom: 5px;
}

.gamelist_title{
    margin: 3px 0;
    color: white;
}

.gamelist_time {
    color: var(--darkGrey);
}

.time_detail {
    font-weight: bold;
}

/* section inside gamelist */

.gamelist_join {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gamelist_info {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 15px;
}

.gamelist_config {
    display: flex;
    width: 55%;
}

.config_detail {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.config_detail_title {
    color: var(--darkGrey);
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.config_detail_title_text {
    margin-left: 3px;
}

.config_detail_data {
    font-weight: bold;
    font-size: 1.6rem;
    padding: 10px;  
    color: white;
}

.status_title {
    color: var(--secondary);
    margin-left: 10px;
}

/* mobile */
@media only screen and (max-width: 550px) {
    .block_gamelist, .block_gamelist_disable, .gamelist_config {
      flex-direction: column;
      align-items: center;
      
    }

    .gamelist_info{
        text-align: center;
        width: 100%;
        margin-bottom: 5px;
    }



}