
.roundIcon {
    background-color: var(--grey);
    width:25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #212121;
}