
.layout {
    padding: 50px;
}

.title{
 color: var(--primary);
}

.text {

}

/* reset ul default padding for gamelist list*/
.gamelist_list {
    padding: 0px
}

.runningGame {
    margin: 25px 0 50px 0;
}

.runningGame_title {
    font-size: 1.3rem;
    color: var(--secondary);
    font-weight: bold;
}