
.blindTestLayout {
   height: 100%;
   display: flex;
}

.playerListLayout {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--darkBlue);
}

.mainGameLayout{
    width: 100%;
    /*background: var(--gradiant);*/
    height: 100%;
    display: flex;
    justify-content: center;
}

.chatLayout{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
    background-color: var(--darkBlue);
}

.buttonDisplayLayout{
    display: none;
}

.buttonDisplayLayout > button {
    background-color: white;
    border-radius: 20px;
    width: 4rem;
    height: 4rem;
    border: 0;
}

#displayChat{
    position: fixed;
    top: 2rem;
    right: 2rem;
}

#displayPlayerList{
    position: fixed;
    top: 2rem;
    left: 2rem;
}

.exitLayout{
    display: none;
    visibility: hidden;
}

@media screen and (max-width: 1470px) {
    .buttonDisplayLayout{
        display: block;
    }
    .playerListLayout {
        width: 80%;
        height: 100%;
        z-index: 1001;
    }
    .chatLayout{
        width: 65%;
        height: -webkit-fill-available;
        height: -moz-available;
        z-index: 1001;
    }
    .exitLayout.active{
        display: block;
        position: fixed;
        visibility: visible;
        background-color: #77777781;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        -moz-transition: visibility 1s linear;
        -webkit-transition: visibility 1s linear;
        -ms-transition: visibility 1s linear;
        transition: visibility 1s linear;
    }
}