.formSmall, .formBig {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: flex-end;
}

.formSmall {
    min-height: 380px;
}

.formBig {
    min-height: 480px;
}

.formField {
    width: 100%;
}

.formExtra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.buttonField {
    margin-top: 40px;
}

/* rewrite default value of material UI */
.buttonLogin {
    margin-right: 10px !important;
}

.textField {
    width: 100%;
}

.rememberMe {
    color: grey;
}

.rememberMe:hover {
    color:var(--primary);
}

/* mobile */
@media only screen and (max-width: 480px) {
    .formExtra {
      flex-direction: column;
    }
    .formExtra a{
        margin-top: 15px;
    }
    .buttonField{
        display: flex;
        flex-direction: column;
    }
    .buttonLogin {
        margin-right: 0px !important;
        margin-bottom: 30px !important;
    }
}