
.player {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
    /*padding: 20px 30px;*/
    margin: 8px 0;
    width: 100%;
}

.animatedPlayer {
    width: 80%;
}

.playerListUsername, .playerListAuthUsername {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px 0;
}

.playerListUsername {
    color: white;
    text-shadow: 2px 2px 2px #212121;
}

.playerListAuthUsername {
    color: var(--primary);
    font-weight: bold;
    text-shadow: 1px 1px 2px #212121;
}
