
.turnResultBlock {
    display: block;
    color: var(--lighGrey);
}


.resultTitle {
    font-size: 2rem;
    justify-content: center;
    margin: 0 0 35px 0;
    text-align: center;
    height: 45px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}


.resultInfoList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 15px 0;
}

.resutltInfoItemLabel {
    font-weight: bold;
    color: white;
}

.resultInfoItem {
    list-style: none;
    display: block;
    margin-bottom: 8px;
    width: 100%;
    font-size: 1.2rem;
    padding: 10px;
    background: var(--primaryDark);
    border-radius: 5px;
}

.resultInfoList a {
    color: var(--grey);
}

.resultInfoList img {
    margin-right: 5px;
}

.containerVideo {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    position: relative;
}


.resultVideoOverflow {
    z-index: 10;
    width: 450px;
    height: 260px;
    position: absolute;
}

.resultVideoOverflow:hover{
    background-image: none !important;
}

.resultInfoPlayerButton .MuiIconButton-colorPrimary{
    color: white;
}

.resultInfoPlayerButton .MuiSlider-root{
    color: white;
    padding: 8px 0;
    height: 0px;
    width: 100px;
}

.resultInfoPlayerButton{
    margin: 0 45%;
    transform: translate(-50%) !important;
}

.resultInfoPlayerButton .playButton{
    width: 48px;
}

.resultInfoPlayerButton .pauseButton{
    width: 48px;
}

.resultInfoPlayerButton .volumeBar{
    padding: 0 12px;
}


.nextSong{
    width: max-content;
    margin: 0 50%;
    transform: translate(-50%) !important;
}

.nextSongButton{
    color: white;
    padding: 5px 20px;
    background-color: var(--secondary);
    border-radius: 5px;
    font-size: 1.2rem;
}

