

.runningMusicBlock {
    display: inline-flex;
    height: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
}

.runningMusicBlock > div.infoSong {
    margin-right: 1rem;
}

.answerListBlock {
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 calc(4% - 7px) 0 4%;
    margin: 0;
}

.your_choise{
    color: white;
    font-weight: bold;
    height: 100px;
    background: var(--primary);
    font-size: 1.3rem;
    border-radius: 10px;
    margin: 50px 0;
    padding: 20px;
}
.your_choise .counterText_your_choise{
    color: var(--darkGrey);
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin: 0 0 10px 0;
}

.listSongBoxScroll{
    overflow-y: scroll;
    height: inherit;
}

audio#player_music{
    margin: 0 50%;
    transform: translate(-50%) !important;
}
