
.messageLayout {
    list-style-type: none;
}

.messageUsernameLayout {
    margin-top: 25px;
}

.messageUsername, .messageAuthUsername {
    font-weight: bold;
}

.messageUsername {
    /**/
}

.messageAuthUsername {
    color: var(--primary);
}

.messageContent{
    padding-bottom: 12px;
    margin-bottom: 0;
    border-bottom: 2px solid var(--grey);
}

.messageAutoRight {
    color: #8bc34a
}

.messageAutoWrong {
    color: red;
}

.messageAutoWrong, .messageAutoRight {
    font-style: italic;
}
